.terminal {
  margin: auto;
  margin-top: 20px;
  background-color: #202020;
  width: 85%;
  display: grid;
  grid-template-areas:
    "title title section"
    "cont cont section"
    "cont cont section";
  justify-content: center;
  text-align: center;
}
.title {
  margin: 15px;
  grid-area: title;
}
.section {
  margin: 15px;
  margin-left: 50px;
  grid-area: section;
}
.cont {
  margin: 15px;
  grid-area: cont;
}
