.cont-contact {
  background-image: url("../icons/Polygon\ Luminary.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 89vh;
  padding-top: 2rem;
}

.interested {
  margin: auto;
  margin-bottom: 2rem;
  padding: 1rem 0rem;
  width: 50%;
  text-align: center;
  font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: .3s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  text-decoration: none;
  cursor: pointer;
}

.line {
  width: 30%;
  margin: auto 1.5rem;
  height: 2px;
  border-bottom: 4px dotted #fff;
  transition: .8s linear;
}

.interested:hover {
  background-color: #161616;
  transform: translateY(-10px);
}

.image-contact {
  width: 20%;
}

.text-contact {
  font-family: serif;
  font-size: 28px;
  color: white;
  text-decoration: none;
  transition: .8s linear;
  height: 100%;
}

.interested:hover .text-image path {
  fill: #335cff;
}

.interested:hover .text-contact {
  color: #335cff;
}

.svg-container svg path {
  fill: white;
  transition: .8s linear;
}

.interested:hover .svg-container svg path {
  fill: #335cff;
}

.interested:hover .line {
  border-bottom: 4px dotted#335cff;
  width: 15%;
}

@media (max-width: 840px) {
  .interested {
    width: 90%;
  }
}