.cont-contact {
    background-image: url("../icons/Polygon\ Luminary.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 89vh;
  }
  
  .interested {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }