.container {
    margin: auto;
    margin-top: 6rem;
    width: 100%;
    display: flex;
    gap: 4rem;
    line-height: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: monospace;
    cursor: default;
    text-align: center;
}

.blue {
    color: #097188;
    background-color: transparent;
}

.welcome {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    padding: 0 2rem;
}


.changing {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    z-index: 2;
    background-color: transparent;
}

.title,
.subtitle {
    width: 100%;
    background-color: transparent;
}

.view {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 1000ms, transform 300ms;
}

.changingItem-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}

.changingItem-exit {
    opacity: 1;
}

.another {
    opacity: 0;
    transform: translateY(-200px);
    transition: opacity 300ms, transform 300ms;
}

.buttonsContainer {
    width: 100%;
    background-color: transparent;
    overflow-x: auto;
    padding-bottom: 1rem;
    z-index: 2;
}

.buttons {
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    overflow-x: auto;
    width: 100%;
    min-width: 930px;
    padding-bottom: 1rem;
    z-index: 2;
}

.buttons button {
    width: 10rem;
    height: 3rem;
    margin: 1rem 0;
    border-radius: 2rem;
    background-color: #101010;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
    transition: background-color 300ms;
}

.buttonActive {
    color: #097188 !important;
}

/* Estilo para el cuadro de carga */
.progress {
    width: 100%;
    height: 91%;
    bottom: 0;
    background-color: transparent;
    position: absolute;
    border-radius: 2rem;
    z-index: 1;
}

.progressBar {
    height: 100%;
    background-color: #101010;
    transition: width 100ms ease-in-out;
}

@media (width < 930px) {
    .container {
        margin-top: 1rem;
    }
    .buttonsContainer {
        padding: 0;
    }
    .buttons {
        padding: 0 1rem;
        background-color: #252525;
    }

}

@media (width < 1000px) {

    .buttons {
        overflow-x: auto;
    }

}