.container {
  margin: auto;
  height: 70vh;
  margin-top: 4rem;
  width: 100%;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: monospace;
  cursor: default;
  overflow: hidden;
}

.welcome {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  text-align: center;
}

.logo {
  padding: 1rem;
  border-radius: 10rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 400;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 300;
}

.blue {
  color: #097188;
}

.info {
  width: 100%;
  display: flex;
  gap: 3rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #4c0027;
  width: 18rem;
  height: 18rem;
  font-size: 1.5rem;
  font-weight: 100 !important;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 4rem;
  border-radius: 100%;
  transform: translateY(30rem) rotateZ(25deg);
  transition: .4s ease-in-out;
  animation: move .6s ease-in-out .5s both;
}

@keyframes move {
  0% {
    transform: translateY(30rem) rotateZ(25deg);    
  }

  100% {
    transform: translateY(-2rem) rotateZ(0);
  }
}

.card:nth-child(2) {
  margin-top: 4rem;
  margin-bottom: 0;
}

.icons {
  background-color: transparent;
  transition: .4s ease-in-out;
}

.card:hover {
  transform: translateY(-.6rem);
  background-color: #5c0632;
  color: #097188;
}

.card:hover .icons {
  transform: rotateZ(25deg);
}

.responsiveInfo {
  display: none;
}

@media (width < 900px) {
  .welcome {
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
  }

  .info {
    display: none;
  }

  .responsiveInfo {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    text-decoration: none;
    position: absolute;
    bottom: 0;
  }
  .cardR {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    width: 33%;
    padding: 1rem;
  }
  .cardR:nth-child(2) {
    background-color: #252525;
  }
  .cardR:nth-child(2) .iconsR {
    background-color: transparent;
  }
}

@media (width < 530px) {
  .cardR {
    flex-direction: column;
  }
}