.container {
  scroll-behavior: smooth;
  margin: auto;
  padding: 1rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: default;
  background-color: rgb(6, 66, 71);
}

.welcome {
  width: 70%;
  background-color: rgba(26, 105, 110, 0.5);
  padding: 1rem;
  border-radius: 10px;
}

.info {
  font-size: 1.8rem;
  color: #ccc;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.detail {
  font-size: 1.2rem;
  color: #cacde6;
}

.name {
  color: rgb(224, 252, 255);
}

.profession {
  color: rgb(224, 252, 255, 0.7);
}

.titleJob {
  font-size: 1.5rem;
  color: rgb(224, 252, 255);
  padding: 0 .3rem;
  margin: 1rem 0;
  width: fit-content;
}

.titleJob::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(16, 136, 150, 0.9);
  margin-top: 0.5rem;
}

.daily,
.position {
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: rgb(224, 252, 255, 0.9);
  padding-bottom: .5rem;
}

.daily {
  color: rgb(224, 252, 255, .8);
}

.tecnologies {
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  max-width: 100%;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tecFront,
.tecBack,
.tecDatabase {
  margin: 0.5rem 0;
  min-width: fit-content;
}

.tecFront {
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
  background-color: rgba(16, 136, 150, 0.9);
  box-shadow: 1px 2px 2px rgba(0, 73, 82, 0.9);
  color: rgb(224, 252, 255);
}

.tecBack {
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
  background-color: rgba(161, 0, 135, 0.9);
  box-shadow: 1px 2px 2px rgba(104, 0, 86, 0.39);
  color: rgb(224, 252, 255);
}

.tecDatabase {
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
  background-color: rgba(187, 108, 5, 0.9);
  box-shadow: 1px 2px 2px rgb(129, 73, 0);
  color: rgb(224, 252, 255);
}

@keyframes slideBorder {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.floating {
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}

.icon:nth-child(2) {
  width: 25px;
}

.icon:nth-child(4) {
  width: 50px;
}

.icon:nth-child(5) {
  width: 60px;
}

.active {
  opacity: 1;
  transform: scale(1.2);
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem;
  /*background-color: rgba(26, 105, 110, 0.5);*/
  border-radius: 10px;
}

.iconContact {
  display: inline-block;
  fill: rgba(21, 147, 161, 0.8);
  transform: rotate(20deg) scale(1.2);
  padding: .3rem;
  margin: .3rem;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.iconContact:hover {
  fill: rgba(21, 147, 161, 1);
  transform: rotate(0deg);
  opacity: 1;
}

.separator {
  min-width: 1.8px;
  height: 5%;
  margin: .5rem 0;
  background-color: white;
  z-index: -1;
}

@media (width < 1030px) {
  .floating {
    display: none;
  }

  .welcome {
    padding: 0.5rem 1.5rem;
  }
}

@media (width < 700px) {
  .container {
    min-height: 50vh;
  }
  .welcome {
    width: 90%;
  }

  .info {
    text-align: center;
    padding-top: .8rem;
  }

  .titleJob {
    width: 100%;
    text-align: center;
  }

  .profession {
    font-size: 1.2rem;
    margin-bottom: .2rem;
  }

  .daily {
    font-size: 1rem;
    line-height: 1.2;
  }
}