/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
.page_container__jZF7q {
  margin: auto;
  height: 70vh;
  margin-top: 4rem;
  width: 100%;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: monospace;
  cursor: default;
  overflow: hidden;
}

.page_welcome__XzK6o {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  text-align: center;
}

.page_logo__ikIZE {
  padding: 1rem;
  border-radius: 10rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
}

.page_title__po7na {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 400;
}

.page_subtitle__YBgxm {
  font-size: 1.5rem;
  font-weight: 300;
}

.page_blue__LHh_9 {
  color: #097188;
}

.page_info__8WZDv {
  width: 100%;
  display: flex;
  gap: 3rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.page_card__Cf__u {
  background-color: #4c0027;
  width: 18rem;
  height: 18rem;
  font-size: 1.5rem;
  font-weight: 100 !important;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 4rem;
  border-radius: 100%;
  transform: translateY(30rem) rotateZ(25deg);
  transition: .4s ease-in-out;
  animation: page_move__xL1n2 .6s ease-in-out .5s both;
}

@keyframes page_move__xL1n2 {
  0% {
    transform: translateY(30rem) rotateZ(25deg);    
  }

  100% {
    transform: translateY(-2rem) rotateZ(0);
  }
}

.page_card__Cf__u:nth-child(2) {
  margin-top: 4rem;
  margin-bottom: 0;
}

.page_icons__WiTRk {
  background-color: transparent;
  transition: .4s ease-in-out;
}

.page_card__Cf__u:hover {
  transform: translateY(-.6rem);
  background-color: #5c0632;
  color: #097188;
}

.page_card__Cf__u:hover .page_icons__WiTRk {
  transform: rotateZ(25deg);
}

.page_responsiveInfo__jVdpq {
  display: none;
}

@media (max-width: 899px) {

  .page_container__jZF7q {
    margin-top: 0;
  }

  .page_welcome__XzK6o {
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
  }

  .page_info__8WZDv {
    display: none;
  }

  .page_responsiveInfo__jVdpq {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    text-decoration: none;
    position: absolute;
    bottom: 0;
  }
  .page_cardR__Mjf7Y {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 33%;
    padding: 1rem;
    border-top: thin solid white;
  }
  .page_cardR__Mjf7Y:nth-child(2) {
    width: 34%;
    border-left: thin solid white;
    border-right: thin solid white;
  }
  .page_cardR__Mjf7Y:nth-child(2) .page_iconsR__rCAyj {
    background-color: transparent;
  }
}

@media (max-width: 529px) {
  .page_cardR__Mjf7Y {
    flex-direction: column;
  }
}
