.cont-java {
  margin: auto;
  margin-top: 45px;
  width: 60%;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 24px;
}

.cont-java-hover {
  margin: auto;
  margin-top: 45px;
  width: 60%;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 24px;
}

.description {
  opacity: 0;
  font-size: 0;
}

.description-hover {
  opacity: 1;
  font-size: 22px;
  font-weight: 300;
  padding: 0 20px;
  text-align: justify;
}

.visit {
  width: 100%;
  font-size: 22px;
  text-decoration: none;
  border: none;
  padding: 10px;
  background-color: #042297;
  color: #fff;
  border-radius: 5%;
  cursor: default;
}

.visit-hover {
  width: 100%;
  font-size: 22px;
  text-decoration: none;
  border: none;
  padding: 10px;
  background-color: #042297;
  color: #fff;
  border-radius: 5%;
  cursor: default;
  margin-top: 1.5%;
}

.cont-java,
.description,
.visit,
.cont-java-hover,
.description-hover,
.visit-hover {
  transition: 1s ease-in-out;
}

@media (max-width: 770px) {

  .cont-java,
  .cont-java-hover {
    width: 100%;
  }
}