body {
  cursor: default;
  background-color: #121212;
  color: #fff;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    sans-serif;
}
